body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.memo-container {
    display: flex;
    flex-wrap: wrap;
}
.memo-content {
    white-space: pre;
}
.no{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(80,62,42);
    position:absolute;
    top: 550px;
    left: 95px;
}