.ddsmoothmenu{ display: none; float: left; width:100%; }
.ddsmoothmenu ul{z-index:100; margin:0; padding:0; list-style-type:none; height:55px; background:url(../images/btn_sp.png) repeat-y left center; }
.ddsmoothmenu ul li ul{position:absolute; left:-3000px;  display:none; visibility:hidden; width:100%; height: auto; background:none; }
.ddsmoothmenu ul li ul li ul{ top: 0; margin:0px; }
.ddsmoothmenu ul li{position: relative; display: inline; float: left; background:url(../images/btn_sp.png) repeat-y right center; }

.ddsmoothmenu ul li{ width:14.25%}


.ddsmoothmenu ul li ul li{display: list-item; float: none; width:100%; border:none}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{ display: block; padding: 15px 0px 16px 0; color: #333; background:rgba(255,255,255,.2); text-align: center; font-size:18px; -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; opacity: 1;}
.ddsmoothmenu ul li a:hover{ text-decoration:none; color:#fff; background:#23b56c;}
.ddsmoothmenu ul li a.selected  {background:#23b56c; color:#fff; }
 .ddsmoothmenu ul li a.current {background:#086b3c; color:#fff; }

.ddsmoothmenu ul li ul li a{ width: auto; padding: 10px 15px; line-height:17px; margin: 0; border-top: 0px solid #ddd; background:#f3f3f3; color:#333; font-size:15px; display:block}
.ddsmoothmenu ul li ul li + li a{ border-top: 1px solid #ddd; }

.ddsmoothmenu ul li ul li ul li a{ border-top: 0px solid #ddd; }
.ddsmoothmenu ul li ul li ul li + li a{ border-top: 1px solid #ddd; }

.ddsmoothmenu ul li ul li a:hover{ color:#fff; background:#ffd200;}
.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a.current{ background-color:#076036; color:#FFF; }


* html .ddsmoothmenu ul li a{ display: inline-block;}
* html .ddsmoothmenu{height: 1%;} 


.downarrowclass{ position: absolute; top: 0px; right: 0px; }
.rightarrowclass{ position: absolute;top: 16px;right: 5px;}
.leftarrowclass{margin-right: 5px;}
.ddshadow{ position: absolute;left: 0;top: 0;width: 0;height: 0;background-color: #ccc;}
.toplevelshadow{ margin: 5px 0 0 5px; opacity: 0.8; }
.ddcss3support .ddshadow.toplevelshadow {margin: 0;}
.ddcss3support .ddshadow {
background-color: transparent;
box-shadow: 5px 5px 5px #aaa; /* box-shadow color generally should be a little darker than that for the NON CSS3 capable browsers background-color */
-moz-box-shadow: 5px 5px 5px #aaa;
-webkit-box-shadow: 5px 5px 5px #aaa;
}

/* ######### Mobile menu container CSS ######### */

div.ddsmoothmobile{ /* main mobile menu container */
background: #414141;
color: white;
position: fixed;
top: 0;
left: 0;
width: 200px; /* width of mobile menu */
height: 300px;
overflow: hidden;
visibility: hidden;
border-radius: 0 0 10px 0;
box-shadow: 0 0 10px gray;
}

div.ddsmoothmobile a{
color: white;
text-decoration: none;
}

div.ddsmoothmobile div.topulsdiv{ /* Single DIV that surrounds all top level ULs before being flattened, or the ULs on the "frontpage" of the menu */
position: relative;
background: #414141;
overflow-y: auto;
width: 100%;
height: 100%;
}


div.ddsmoothmobile ul{ /* style for all ULs in general inside mobile menu */
list-style: none;
width: 100%;
top: 0;
left: 0;
background: #414141;
margin: 0;
padding: 0;
}

div.ddsmoothmobile div.topulsdiv ul.submenu{ /* top level ULs style */
}


div.ddsmoothmobile ul.submenu{ /* sub level ULs style */
position: absolute;
height: 100%;
overflow-y: auto;
}

div.ddsmoothmobile ul li{
border-bottom: 1px solid gray;
position: relative;
font-weight: bold;
}

div.ddsmoothmobile ul li.breadcrumb{ /* breadcrumb LI that's added to the top of every sub level UL */
cursor: pointer;
padding: 10px;
background: black;
}

div.ddsmoothmobile ul li a{
display: block;
padding: 6px;
}

div.ddsmoothmobile ul li a:hover{
background: black;
}

/* ############# Animated Drawer icon (mobile menu toggler) CSS ############# */

.animateddrawer{
	font-size: 10px; /* Base font size. Adjust this value to modify size of drawer icon */
  width: 3em; 
  height: 2.8em; 
  outline: none;
	position: fixed; /* BY default, make toggler fixed on screen */
	display: none;
	top: 10px; /* Position at upper right corner */
	right: 10px;
	background: white;
	z-index: 1000;
}

.animateddrawer:before, .animateddrawer:after{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 0.6em; /* height of top and bottom drawer line */
  background: black;
  border-radius: 2px;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in; /* set transition type and time */
  transition: all 0.3s ease-in; 
}

.animateddrawer:after{
  top: auto;
  bottom: 0;
}

.animateddrawer span{
  width: 100%;
  height: 0.6em; /* height of middle drawer line */
  background: black;
  position: absolute;
  top: 50%;
  margin-top: -0.3em; /* set this to - half of middle drawer line height */
  border-radius: 2px;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.3s ease-in 0.3s; /* set transition type and time */
  transition: all 0.3s ease-in 0.3s;
}

.animateddrawer span::after{
  content: '';
  display: block;
  width: 100%;
  height: 0.6em; /* height of middle drawer line */
  background: black;
  border-radius: 2px;
  position: absolute;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.3s ease-in 0.3s; /* set transition type and time */
  transition: all 0.3s ease-in 0.3s;
}

.animateddrawer.open{
}

.animateddrawer.open:before{ /* style when .open class is added to button */
  top: 50%;
  margin-top: -0.3em; /* set this to - half of top drawer line height */
  opacity: 0;
}

.animateddrawer.open:after{ /* style when .open class is added to button */
  bottom: 50%;
  opacity: 0;
}

.animateddrawer.open span{ /* style when .open class is added to button */
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animateddrawer.open span:after{ /* style when .open class is added to button */
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@media screen and (max-width: 800px) {
.btn_school a.current{ background: none; color:#ffa200; font-weight:bold }
.btn_religion a.current{ background: none; color:#ffa200; font-weight:bold }
.btn_course a.current{ background: none; color:#ffa200; font-weight:bold }
.btn_develop a.current{ background: none; color:#ffa200; font-weight:bold }
.btn_events a.current{ background: none; color:#ffa200; font-weight:bold }
.btn_parents a.current{ background: none; color:#ffa200; font-weight:bold }
.btn_graduate a.current{ background: none; color:#ffa200; font-weight:bold }
.btn_contact a.current{ background: none; color:#ffa200; font-weight:bold }
}